In [1]:
import dask.dataframe as dd

In [17]:
import pandas as pd

In [2]:
from dask.distributed import Client
client=Client(n_workers=2, threads_per_worker=2) # this set up 1 worker per core
client.cluster

C:\Users\Sophia\anaconda3\lib\site-packages\distributed\node.py:151: UserWarning: Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the HTTP server on port 51004 instead
  warnings.warn(

VBox(children=(HTML(value='<h2>LocalCluster</h2>'), HBox(children=(HTML(value='\n<div>\n  <style scoped>\n    …

In [3]:
DATA=dd.read_csv('data2012up.csv/0.part',parse_dates=[3],blocksize='20MB')

In [4]:
test=DATA.compute()

In [5]:
test

,Unnamed: 0,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,17612922,{BD0D075D-7818-47B3-9657-7651CBD02219},155000,2012-09-28,S,N,F,YORK,YORK,YORK,A,A
1,17612923,{0FF70080-C8EA-4DDC-9C19-7651D9B540CC},264000,2012-07-18,D,N,F,HAYLING ISLAND,HAVANT,HAMPSHIRE,A,A
2,17612924,{80CC2177-EDBE-4ABB-9EAA-7651DAA0E4EE},20000,2012-04-25,T,N,F,HULL,CITY OF KINGSTON UPON HULL,CITY OF KINGSTON UPON HULL,A,A
3,17612925,{076B2969-50D6-4659-8956-7651ECAAB904},89950,2012-10-25,S,N,F,WORKSOP,BASSETLAW,NOTTINGHAMSHIRE,A,A
4,17612926,{9A6B1BBC-3522-4B44-9FD6-765202F73E28},168000,2012-04-13,S,N,F,TORQUAY,TORBAY,TORBAY,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...
31306,22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017-02-20,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
31307,22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017-02-15,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
31308,22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017-02-24,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
31309,22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017-02-22,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
31310,22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017-03-03,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [18]:
pd.options.display.float_format = '{:,.2f}'.format

In [52]:
from scipy import stats
import numpy as np
z = stats.zscore(test['Price'])
print(z)

[-0.16640179 -0.02539634 -0.34104157 ... -0.01246006 -0.32034352
 -0.17933807]

In [53]:
z.min()

-0.36691283864996427

In [54]:
z.max()

127.57289694025548

In [55]:
test['Price'].mean()

283631.86859577073

In [8]:
s=len(z)

In [44]:
np.where(z<3)

(array([      0,       1,       2, ..., 4876423, 4876424, 4876425],
       dtype=int64),)

In [46]:
x=np.where(z<=1)

In [47]:
data_no_outliner=test.iloc[x[0],:]

In [48]:
data_no_outliner

,Unnamed: 0,Transaction unique identifier,Price,Date of Transfer,Property Type,Old/New,Duration,Town/City,District,County,PPDCategory Type,Record Status - monthly file only
0,17612922,{BD0D075D-7818-47B3-9657-7651CBD02219},155000,2012-09-28,S,N,F,YORK,YORK,YORK,A,A
1,17612923,{0FF70080-C8EA-4DDC-9C19-7651D9B540CC},264000,2012-07-18,D,N,F,HAYLING ISLAND,HAVANT,HAMPSHIRE,A,A
2,17612924,{80CC2177-EDBE-4ABB-9EAA-7651DAA0E4EE},20000,2012-04-25,T,N,F,HULL,CITY OF KINGSTON UPON HULL,CITY OF KINGSTON UPON HULL,A,A
3,17612925,{076B2969-50D6-4659-8956-7651ECAAB904},89950,2012-10-25,S,N,F,WORKSOP,BASSETLAW,NOTTINGHAMSHIRE,A,A
4,17612926,{9A6B1BBC-3522-4B44-9FD6-765202F73E28},168000,2012-04-13,S,N,F,TORQUAY,TORBAY,TORBAY,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...
31306,22489343,{4C4EE000-291A-1854-E050-A8C063054F34},175000,2017-02-20,S,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A
31307,22489344,{4C4EE000-291B-1854-E050-A8C063054F34},586945,2017-02-15,D,N,F,WETHERBY,LEEDS,WEST YORKSHIRE,A,A
31308,22489345,{4C4EE000-291C-1854-E050-A8C063054F34},274000,2017-02-24,D,N,L,HUDDERSFIELD,KIRKLEES,WEST YORKSHIRE,A,A
31309,22489346,{4C4EE000-291D-1854-E050-A8C063054F34},36000,2017-02-22,T,N,F,HALIFAX,CALDERDALE,WEST YORKSHIRE,A,A
31310,22489347,{4C4EE000-291E-1854-E050-A8C063054F34},145000,2017-03-03,T,N,F,LEEDS,LEEDS,WEST YORKSHIRE,A,A

In [49]:
data_no_outliner.Price.min()

1

In [51]:
data_no_outliner.Price.max()

1056500

In [69]:
Q1=np.percentile(test['Price'],25)

In [70]:
Q2=np.percentile(test['Price'],75)

In [71]:
Iql=Q2-Q1

In [79]:
Q1,Q2

(130000.0, 305000.0)

In [73]:
cut_off=Iql*1.5

In [74]:
cut_off

262500.0

In [76]:
lower, upper = Q1 - cut_off, Q2 + cut_off

In [77]:
lower,upper

(-132500.0, 567500.0)

In [80]:
lower=np.percentile(test['Price'],0.5)

In [81]:
lower

30712.375

In [82]:
upper=np.percentile(test['Price'],99.5)

In [83]:
upper

2150000.0